
<!-- Main Menu -->
<nav >
  <div class="logo">Calypso</div>
  <div class="menu-button chapter2" >
    <img src="images/icons/burger.svg" alt="burger" />
  </div>
</nav>


<!-- Main Menu -->
<div class="menu">

  <!-- menu-Content  mit Linklisten Collapse -->
  <div class="menu-content">

  <article class="menuLink">
    <div class="accordion"><a href="/fragen.html" class="chapter1">kooperieren</a></div>
      <div class="accordionButton">+</div>
      <div class="panel">
        <a href="#">Selbstbefragung</a>
        <a href="#">Planungstreffen</a>
    </div>
    </article>

    <article class="menuLink">
    <div class="accordion"><a href="#" class="chapter2">interessieren</a></div>
      <div class="accordionButton">+</div>
      <div class="panel">
        <a href="#">Zugangskonzepte</a>
        <a href="#">Choreographenbuch</a>
    </div>
  </article>

    <article class="menuLink">
    <div class="accordion"><a href="#" class="chapter3">kennenlernen</a></div>
      <div class="accordionButton">+</div>
      <div class="panel">
        <a href="#">Klassenscan</a>
        <a href="#">Alles ist Tanz Spiel</a>
    </div>
  </article>

    <article class="menuLink">
    <div class="accordion"><a href="#" class="chapter4">thematisieren</a></div>
      <div class="accordionButton">+</div>
      <div class="panel">
        <a href="#">Körper und Bewegung</a>
        <a href="#">Tanz und andere Künste</a>
        <a href="#">TTanzkulturen</a>
        <a href="#">Tanz und Gestaltung</a>
        <a href="#">Tanz und Gesellschaft</a>
        <a href="#">Tanz und Unterricht</a>
    </div>
  </article>

  <article class="menuLink">
  <div class="accordion"><a href="#" class="chapter5">reflektieren</a></div>
    <div class="accordionButton">+</div>
    <div class="panel">
      <a href="#">Reflexionstreffen</a>
      <a href="#">Feedbackkultur</a>
      <a href="#">Selbstevaluation</a>
  </div>
</article>

<article class="menuLink">
<div class="accordion"><a href="#" class="chapter6">choreographieren</a></div>
  <div class="accordionButton">+</div>
  <div class="panel">
    <a href="#">Choreographische Prozesse</a>
    <a href="#">Präsentationsformen</a>
    <a href="#">Choreographische Reisekarten</a>
</div>
</article>

<article class="menuLink">
<div class="accordion"><a href="#" class="chapter7">abschließen</a></div>
<div class="accordionButton">+</div>
<div class="panel">
  <a href="#">Abschlusstreffen</a>
  <a href="#">Projekt-Evaluatiion</a>
</div>
</article>

<article class="menuLink">
<div class="accordion"><a href="#">Service</a></div>
<div class="accordionButton">+</div>
<div class="panel">
  <a href="#">Musik</a>
  <a href="#">FAQ</a>
  <a href="#">Planungstool</a>
</div>
</article>

</div>
</div>
