


<!-- Header bar -->

  <header>
    <span >thematisieren</span> Körper und Gestaltung
  </header>

<div class="page-number euclid-m">3</div>

<!-- Hinweis -->
  <article class="hinweis">
    <div class="hinweisContent">
      <p>Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <ul>
        <li>Dauer:</li>
        <li>Material:</li>
      </ul>
    </div>
    <div class="hinweisButton"></div>
  </article>
