
// Font Scale System

$font-base-size: 1rem;

$font-scale-ratio: 1.125;

// minor: 1.067;
// maior: 1.125;
// minorThird: 1.2;
// maiorThird: 1.25;
// perfectFourth: 1.33333;
// augmentedFourth: 1.414;
// perfectFifth: 1.5;
// goldenRatio: 1.618;

.f-xxxs  {font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio});}
.f-xxs   {font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio});}
.f-xs{font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio});}
.f-s{font-size: calc(#{$font-base-size} / #{$font-scale-ratio});}
.f-base{font-size: $font-base-size;}
.f-md{font-size: calc(#{$font-base-size} * #{$font-scale-ratio});}
.f-ml{font-size: calc(#{$font-base-size} * #{$font-scale-ratio} * #{$font-scale-ratio});}
.f-lg{font-size: calc(#{$font-base-size}*  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} );}
.f-xl{font-size: calc(#{$font-base-size} *  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});}
.f-xxl {font-size: calc(#{$font-base-size}*  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});}
.f-xxxl {font-size: calc(#{$font-base-size} *  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});
          }



@media #{$breakpoint-not-small}{
    .f-xxxs-ns {font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio});}
    .f-xxs-ns  {font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio});}
    .f-xs-ns   {font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio});}
    .f-s-ns    {font-size: calc(#{$font-base-size} / #{$font-scale-ratio});}
    .f-base-ns {font-size: $font-base-size;}
    .f-md-ns   {font-size: calc(#{$font-base-size} * #{$font-scale-ratio} * #{$font-scale-ratio});}
    .f-ml-ns   {font-size: calc(#{$font-base-size} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});}
    .f-lg-ns   {font-size: calc(#{$font-base-size}*  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} );}
    .f-xl-ns   {font-size: calc(#{$font-base-size} *  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} );}
    .f-xxl-ns  {font-size: calc(#{$font-base-size}*  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});}
    .f-xxxl-ns {font-size: calc(#{$font-base-size} *  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});}
}

@media #{$breakpoint-medium} {
    .f-xxxs-m{font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio});}
    .f-xxs-m {font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio});}
    .f-xs-m{font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio});}
    .f-s-nm{font-size: calc(#{$font-base-size} / #{$font-scale-ratio});}
    .f-base-m{font-size: $font-base-size;}
    .f-md-m{font-size: calc(#{$font-base-size} * #{$font-scale-ratio} * #{$font-scale-ratio});}
    .f-ml-m{font-size: calc(#{$font-base-size} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});}
    .f-lg-m{font-size: calc(#{$font-base-size}*  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} );}
    .f-xl-m{font-size: calc(#{$font-base-size} *  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} );}
    .f-xxl-m{font-size: calc(#{$font-base-size}*  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});}
    .f-xxxl-m{font-size: calc(#{$font-base-size} *  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});}
}

@media #{$breakpoint-large} {
    .f-xxxs-l {font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio});}
    .f-xxs-l  {font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio} / #{$font-scale-ratio});}
    .f-xs-l   {font-size: calc(#{$font-base-size} / #{$font-scale-ratio} / #{$font-scale-ratio});}
    .f-s-l    {font-size: calc(#{$font-base-size} / #{$font-scale-ratio});}
    .f-base-l {font-size: $font-base-size;}
    .f-md-l   {font-size: calc(#{$font-base-size} * #{$font-scale-ratio} * #{$font-scale-ratio});}
    .f-ml-l   {font-size: calc(#{$font-base-size} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});}
    .f-lg-l   {font-size: calc(#{$font-base-size}*  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} );}
    .f-xl-l   {font-size: calc(#{$font-base-size} *  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} );}
    .f-xxl-l  {font-size: calc(#{$font-base-size}*  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});}
    .f-xxxl-l {font-size: calc(#{$font-base-size} *  #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio} * #{$font-scale-ratio});}

}
