---
layout: default
color: "#000"
---

<!-- Main Menu -->
<nav >
  <div class="logo"><a href="index.html">Calypso</a></div>
  <div class="menu-button" style="background-color:{{page.color}}">
    <img src="images/icons/burger.svg" alt="burger" />
  </div>
</nav>


<!-- Main Menu -->
<div class="menu">

  <!-- menu-Content  mit Linklisten Collapse -->
  <div class="menu-content">

  <article class="menuLink">
    <div class="accordion"><a href="0-ch1-kooperieren" class="chapter1 f-ml"><div class="w2 dib f-s">1</div>kooperieren</a></div>
      <div class="accordionButton"></div>
      <div class="panel f-base">
        <a href="1-selbstbefragung.html">Selbstbefragung</a>
        <a href="1-planungstreffen.html">Planungstreffen</a>
    </div>
    </article>

    <article class="menuLink">
    <div class="accordion"><a href="0-ch2-interessieren" class="chapter2 f-ml"><div class="w2 dib f-s">2</div>interessieren</a></div>
      <div class="accordionButton"></div>
      <div class="panel f-base">
        <a href="2-zugangskonzepte.html">Zugangskonzepte</a>
        <a href="2-choreografenbuch.html">Choreograf*innenbuch</a>
    </div>
  </article>

    <article class="menuLink">
    <div class="accordion"><a href="0-ch3-kennenlernen" class="chapter3 f-ml"><div class="w2 dib f-s">3</div>kennenlernen</a></div>
      <div class="accordionButton"></div>
      <div class="panel f-base">
        <a href="3-klassenscan.html">Klassenscan</a>
        <a href="3-alles-spiel.html">Alles ist Tanz Spiel</a>
    </div>
  </article>

    <article class="menuLink">
    <div class="accordion"><a href="0-ch4-thematisieren" class="chapter4 f-ml"><div class="w2 dib f-s">4</div>thematisieren</a></div>
      <div class="accordionButton"></div>
      <div class="panel f-base">
        <a href="4-koerper.html">Körper und Bewegung</a>
        <a href="4-kuenste.html">Tanz und andere Künste</a>
        <a href="4-kulturen.html">Tanzkulturen</a>
        <a href="4-gestaltung.html">Tanz und Gestaltung</a>
        <a href="4-gesellschaft.html">Tanz und Gesellschaft</a>
        <a href="4-unterricht.html">Tanz und Unterricht</a>
    </div>
  </article>

  <article class="menuLink">
  <div class="accordion"><a href="0-ch5-reflektieren" class="chapter5 f-ml"><div class="w2 dib f-s">5</div>reflektieren</a></div>
    <div class="accordionButton"></div>
    <div class="panel f-base">
      <a href="5-reflexionstreffen.html">Reflexionstreffen</a>
      <a href="5-feedbackkultur.html">Feedbackkultur</a>
      <a href="5-selbstevaluation.html">Selbsteinschätzung</a>
  </div>
</article>

<article class="menuLink">
<div class="accordion"><a href="0-ch6-choreographieren" class="chapter6 f-ml"><div class="w2 dib f-s">6</div>choreographieren</a></div>
  <div class="accordionButton"></div>
  <div class="panel f-base">
    <a href="6-choreografieren.html">Kontext Schule</a>
    <a href="6-praesentation.html">Präsentation</a>
    <a href="6-reisekarten.html">Reisekarten</a>
</div>
</article>

<article class="menuLink">
<div class="accordion"><a href="0-ch7-abschliessen" class="chapter7 f-ml" ><div class="w2 dib f-s">7</div>abschließen</a></div>
<div class="accordionButton"></div>
<div class="panel f-base">
  <a href="7-abschlusstreffen.html">Abschlusstreffen</a>
  <a href="7-projektevaluation.html">Fazit ziehen</a>
</div>
</article>

<article class="menuLink">
<div class="accordion"><div class="w2 dib f-base"> </div>Service</a></div>
<div class="accordionButton"></div>
<div class="panel f-base">
  <a href="8-musik.html">Musik</a>
  <a href="8-planung.html">Planungstool</a>
  <a href="8-glossar.html">Glossar</a>
  <a href="8-download.html">Downloads</a>
    <a href="8-download.html">Downloads</a>
  <a href="8-tipps.html">Tipps</a>
  <a href="8-faq.html">FAQ</a>
  <a href="8-contact.html">Über uns</a>
</div>
</article>

</div>
</div>

<!--  -->

{{ content }}
